
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 50px); /* Adjust based on nav bar height */
    height: calc(100% - 50px); /* Adjust based on nav bar height */
}

.login-container {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 360px;
    text-align: center;
    margin-top: 50px; /* Adjust this value to move the box downward */
    margin-bottom: 50px;
}
.login-container h2 {
    margin-bottom: 1.5rem;
}
.login-container input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}
.login-container button:hover {
    background-color: #0056b3;
}
.login-container a {
    display: block;
    margin-top: 1rem;
    text-decoration: none;
    color: #007BFF;
    font-size: 14px;
}
.login-container a:hover {
    text-decoration: underline;
}